<ul>
  <li><%= link_to  "Campuses", campuses_path %></li>
  <li><%= link_to  "Departments", departments_path %></li>
  <li><%= link_to  "Clazzes", clazzes_path %></li>
  <li><%= link_to  "Courses", courses_path %></li>
  <li><%= link_to  "Students", students_path %></li>
  <li><%= link_to  "Teacher", teachers_path %></li>
  <li><%= link_to  "Course Selection", course_selections_path %></li>
  <li><%= link_to  "Department Change", department_changes_path %></li>
  <li><%= link_to  "Grade Changes", grade_changes_path %></li>
  <li><%= link_to  "Open Course", open_courses_path %></li>
</ul>