<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @teacher.work_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teacher.department_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teacher.title %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @teacher.id_number %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @teacher.id_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @teacher.birthday %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @teacher.nationality %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @teacher.home_address %>
</p>

<p>
  <strong>Home postcode:</strong>
  <%= @teacher.home_postcode %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @teacher.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <%= link_to "Open Courses", teacher_open_courses_path(@teacher) %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>