<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @department_change.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @department_change.type %>
</p>

<p>
  <strong>Happened at:</strong>
  <%= @department_change.happened_at %>
</p>

<p>
  <strong>New clazz code:</strong>
  <%= @department_change.new_clazz_code %>
</p>

<p>
  <strong>Original clazz code:</strong>
  <%= @department_change.original_clazz_code %>
</p>

<p>
  <strong>Youth league status:</strong>
  <%= @department_change.youth_league_status %>
</p>

<%= link_to 'Edit', edit_department_change_path(@department_change) %> |
<%= link_to 'Back', department_changes_path %>