<p id="notice"><%= notice %></p>

<p>
  <strong>Id number:</strong>
  <%= @person.id_number %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @person.id_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @person.home_address %>
</p>

<p>
  <strong>Home postcode:</strong>
  <%= @person.home_postcode %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
