<p id="notice"><%= notice %></p>

<h1>Grade Changes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Type</th>
      <th>Happened at</th>
      <th>New clazz code</th>
      <th>Original clazz code</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_changes.each do |grade_change| %>
    <tr>
      <td><%= grade_change.code %></td>
      <td><%= grade_change.type %></td>
      <td><%= grade_change.happened_at %></td>
      <td><%= grade_change.new_clazz_code %></td>
      <td><%= grade_change.original_clazz_code %></td>
      <td><%= grade_change.reason %></td>
      <td><%= link_to 'Show', grade_change %></td>
      <td><%= link_to 'Edit', edit_grade_change_path(grade_change) %></td>
      <td><%= link_to 'Destroy', grade_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade Change', (@student ? new_student_grade_change_path(@student) : new_grade_change_path) %>