<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @grade_change.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @grade_change.type %>
</p>

<p>
  <strong>Happened at:</strong>
  <%= @grade_change.happened_at %>
</p>

<p>
  <strong>New clazz code:</strong>
  <%= @grade_change.new_clazz_code %>
</p>

<p>
  <strong>Original clazz code:</strong>
  <%= @grade_change.original_clazz_code %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @grade_change.reason %>
</p>

<%= link_to 'Edit', edit_grade_change_path(@grade_change) %> |
<%= link_to 'Back', grade_changes_path %>