<%= form_with(model: open_course, local: true) do |form| %>
  <% if open_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(open_course.errors.count, "error") %> prohibited this open_course from being saved:</h2>

      <ul>
        <% open_course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.text_field :teacher_id %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.text_field :schedule %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
