<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @open_course.course_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @open_course.teacher_id %>
</p>

<p>
  <strong>Term:</strong>
  <%= @open_course.term %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @open_course.schedule %>
</p>

<%= link_to 'Edit', edit_open_course_path(@open_course) %> |
<%= link_to 'Back', open_courses_path %>
