<p id="notice"><%= notice %></p>

<p>
  <strong>Open course:</strong>
  <%= @course_selection.open_course_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @course_selection.score %>
</p>

<p>
  <strong>Term:</strong>
  <%= @course_selection.term %>
</p>

<%= link_to 'Edit', edit_course_selection_path(@course_selection) %> |
<%= link_to 'Back', course_selections_path %>
