<%= form_with(model: status_change, local: true) do |form| %>
  <% if status_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status_change.errors.count, "error") %> prohibited this status_change from being saved:</h2>

      <ul>
        <% status_change.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :happened_at %>
    <%= form.date_select :happened_at %>
  </div>

  <div class="field">
    <%= form.label :new_clazz_code %>
    <%= form.text_field :new_clazz_code %>
  </div>

  <div class="field">
    <%= form.label :original_clazz_code %>
    <%= form.text_field :original_clazz_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
