<p id="notice"><%= notice %></p>

<h1>Status Changes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Type</th>
      <th>Happened at</th>
      <th>New clazz code</th>
      <th>Original clazz code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_changes.each do |status_change| %>
      <tr>
        <td><%= status_change.code %></td>
        <td><%= status_change.type %></td>
        <td><%= status_change.happened_at %></td>
        <td><%= status_change.new_clazz_code %></td>
        <td><%= status_change.original_clazz_code %></td>
        <td><%= link_to 'Show', status_change %></td>
        <td><%= link_to 'Edit', edit_status_change_path(status_change) %></td>
        <td><%= link_to 'Destroy', status_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Change', new_status_change_path %>
